<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/scripts/hell.js"></script>
</head>

<body class="hell">
    <header>
        <h1 style="user-select: none;">blazer is cool.dev</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/posts">Posts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
    <div class="hellish-gif">
        <img src="/assets/images/fire.gif">
    </div>
    <footer>
        <p>Copyright © 2023</p>
    </footer>
</body>

</html>