<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/scripts/hell.js"></script>
</head>

<body class="hell">
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    <div class="hellish-gif">
        <img src="/assets/images/fire.gif">
    </div>
    {% include footer.html %}

</html>